@page "/forgot-password"
@using System.ComponentModel.DataAnnotations
@inject IAccountManagement Acct

<PageTitle>Forgot your password?</PageTitle>
<HeaderTitle Title="Forgot your password?" />

<MudContainer MaxWidth="MaxWidth.Small" Class="pt-4">

    <h1>Forgot your password?</h1>
    <p>Provide your email address and select the <b>Reset password</b> button.</p>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (!passwordResetCodeSent)
            {
                <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitStep1Async" method="post">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" role="alert" />

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username"
                            aria-required="true" placeholder="name@example.com" />
                        <label for="Input.Email" class="form-label">
                            Email
                        </label>
                        <ValidationMessage For="() => Input.Email" class="text-danger" />
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">
                        Request reset code
                    </button>
                </EditForm>
            } else 
            {
                <MudAlert Severity="Severity.Success">An email has been sent to the mail address. Please check your inbox and follow the instructions.</MudAlert>
                <MudAlert Severity="Severity.Info">Remember to check your spam folder</MudAlert>
            }
        </div>
    </div>
</MudContainer>

@code {
    private bool passwordResetCodeSent, passwordResetSuccess, errors;
    private string[] errorList = [];

    [SupplyParameterFromForm(FormName = "forgot-password")]
    private InputModel Input { get; set; } = new();


    private async Task OnValidSubmitStep1Async()
    {
        passwordResetCodeSent = await Acct.ForgotPasswordAsync(Input.Email);
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = string.Empty;
    }
}